.resume img {
    width: 85vw;
    height: 100vh;
    opacity: 0.9;
}
.resume{
    margin-left:190px;
}
.about{
    height: 92vh;
    width: 80vw;
    border: 5px solid black;
    position: absolute;
    left: 210px;
    top: 28px;
    border-radius: 10px;
}
p{
    font-size: 17px;
    text-align: center;
}
.myself{
    background-color: rgb(159, 235, 235);
    height: 92vh;
    width: 30vw;
    opacity: 0.9;
}
.my{
    margin-top: 40px;
    font-size: 20px;
}
h4{
    /* margin-top: 10px; */
    text-align: center;
    color: darkcyan;
    
}
.hr{
    margin-top: 20px;
    margin-bottom: 20px;
}
.phone{
    /* background-color: blueviolet; */
    margin-top: 30px;
}
.phone p{
    /* font-weight: 600; */
    font-size: 25px;
}
.email{
    /* background-color: burlywood; */
    margin-top: 30px;
}
.email p{
    /* font-weight: 600; */
    font-size: 25px;
}
.actual{
    background-color: burlywood;
    height: 92vh;
    width: 50vw;
    margin-top: -540px;
    margin-left: 30vw;
    opacity: 0.9;
}
.box{
    display: flex;
    flex-direction: row;
}
.title{
    color: rgb(153, 91, 9);
}
.education{
    margin-left: 40px;

}
 li{
    font-size: 20px;
    list-style: none;
}
.skills{
    margin-left: 40px;
    margin-top: 10px;
}
